/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f4f9;
}

/* Header */
.header {
    background: #fff;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr auto; /* logo | nav */
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff523b;
}

/* Navigation */
.nav {
    display: grid;
    grid-auto-flow: column; /* items in one row */
    gap: 20px;
}

.nav-item {
    padding: 10px 18px;
    background: #ff523b;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* Main layout */
.container {
    display: grid;
    grid-template-columns: 25% 1fr; /* sidebar | content */
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

/* Sidebar */
.sidebar, .content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.sidebar ul li a{
    text-decoration: none;
    color: black;
}

.content h1 {
    margin-bottom: 10px;
}

/* Footer */
.footer {
    margin-top: 30px;
    background: #ff523b;
    color: #fff;
    text-align: center;
    padding: 20px;
}
